@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url("open-sans.woff2") format("woff2");
}
body {
	background-color: #EFEBE8;
	color: #555;
	font-family: "Open Sans", sans-serif;
}
a {
	color: #333;
}
#logo {
	height: 1.5em;
	margin-right: .5em;
}
