
flexStretch()
    display: flex
    flex-flow: row nowrap
    align-items: stretch

.entity-card
    background: white
    padding: 10px 20px 10px 20px
    box-shadow: 0 0 10px var(--color-grey-light)
    transition: all .2s ease
    cursor: pointer
    flexStretch()

    
    .card-content
        flex: 1
        .name
            // text-decoration: underline
            font-size: 14px
            padding: 0
            margin: 0
            font-weight: bold
        .url
            font-size: 11px
            margin: 0
            margin-bottom: 10px
            text-decoration: underline
        .statistics
            font-size: 10px
            flexStretch()
            .text
                flex: 1
    .card-actions
        // flexStretch()
        padding: 0
        list-style : none
        margin: 0
        overflow: visible
        // align-items: center
        li
            flex: 1
            background: inherit
            display: inline-block
            margin: 0
            padding: 0
            .btn
                background: var(--color-grey)
                border-radius: var(--radius)
                width: 30px
                margin-left: 5px
.entity-card:hover
    background: var(--color-blue-light)
    color: white
    // box-shadow: 0 0 10px var(--color-grey-dark)
.entity-card.is-active
    background: var(--color-blue)
    color: white