
@import '../../css/helpers.styl'


.known-page-card
    background: var(--color-white)
    font-family: var(--font-pt)
    font-size: 12px
    margin: 6px 10px
    padding: 10px
    padding-left: 20px
    text-align: left
    stretch(row)
    align-items: center
    .card-content
        flex: 1
        cursor: pointer
        max-width: 100%
        overflow: hidden
        .known-page-url
            text-decoration: underline
            white-space: nowrap
        .known-page-statistics
            padding-top: 10px
            font-style: italic
            font-size: 10px
    @media (max-width: $tablet-break-point)
        flex-direction: column
        align-items: flex-start
        .card-actions
            display: flex
            flex-flow: row nowrap
            justify-content: flex-end
            width: 100%
       
.known-page-card.is-active
    background: var(--color-blue)
    color: var(--color-white)
.homepage-btn
    background: var(--color-white)
    border: none 
    outline: none
    width: 30px
    height: 30px
    color: var(--color-black)
    flexCenter()
    border-radius: 50%
    cursor: pointer
    &.is-active
        background: var(--color-blue)
        color: var(--color-white)
        border: 1px solid white
        cursor: default

.known-pages
    background: var(--color-grey);
    border-radius: var(--radius);
    padding-bottom: 10px
    .download-container
        margin: 0 15px
        
    .known-pages-list
        list-style: none
        padding: 0
        max-height: 30vh
        overflow-y: auto
        margin: 0