.react-autosuggest__container {
  display: flex;
  flex: 1;
  position: relative;
}

.react-autosuggest__container--open {
}

.react-autosuggest__input {
}

.react-autosuggest__suggestions-container {
  left: 0px;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 200;
}

.react-autosuggest__suggestions-list {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: var(--radius);
  list-style: none;
  margin: 0;
  padding: 0;
}

.react-autosuggest__suggestion {
  color: var(--color-black);
  cursor: pointer;
  font-family: var(--font-pt);
  padding: .8em;
  text-align: left;
}

.react-autosuggest__suggestion--focused {
  color: var(--color-blue);
  background-color: var(--color-grey);
  font-weight: bold;
}

.react-autosuggest__suggestion span,
.react-autosuggest__suggestion--focused span {
  cursor: pointer;
}

.react-autosuggest__section-container {
}

.react-autosuggest__section-title {
}

.react-autosuggest__section-suggestions-container {
}
