@import './helpers.styl'

.btn 
  box-shadow: none;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-pt);
  padding: 1em;
  outline: none;
  box-sizing: border-box
  &.is-disabled
    pointer-events: none
    opacity: .5

  span, span::before
    cursor: pointer;

.btn-primary
  background: var(--color-black);
  color: var(--color-white);

.btn-primary:active
  background: var(--color-blue);
  color: var(--color-white);

.btn-success
  background: var(--color-blue);
  color: var(--color-white);

.btn-default
  background: var(--color-gray);

.btn-negative
.btn-error
.btn-warning
  background: var(--color-red);
  color: var(--color-white);

.btn-fullwidth
  width: 100%;

.btn:disabled,
.btn[disabled]
  background: none;
  color: var(--color-grey);
  cursor: default;

  span, span::before
    cursor: default;

button
  outline: none
