:root {
  --color-white: #faf9f8;
  --color-grey: #e3e5e4;
  --color-grey-light: #f1f1f1;
  --color-black: #252b30;
  --color-blue: #014bf6;

  /* corpus load indicators in footer */
  --color-green: #488105;
  --color-orange: orange;
  --color-red: #c00;

  /* corpus statuses in header */
  --color-corpus-in: #333;
  --color-corpus-out: #faa; /* salmon */
  --color-corpus-undecided: #ada299;
  --color-corpus-discovered: #93bde0; /* light blue */
}


