:root {
  --color-white: #faf9f8;
  --color-grey: #e3e5e4;
  --color-grey-light: #f1f1f1;
  --color-grey-dark: #979797;
  --color-black: #252b30;
  --color-blue: #014bf6;

  --color-error: #89373e;

  /* corpus load indicators in footer */
  --color-green: #488105;
  --color-orange: orange;
  --color-red: #c00;

  /* corpus statuses in header */
  --color-corpus-in: #535e77; /* navy */
  --color-corpus-out: #89373e; /* brown */
  --color-corpus-undecided: #baac42; /* gold */
  --color-corpus-discovered: #9cb8d3; /* light blue */
}


