

$tablet-break-point = 1024px
$narrow-break-point = 600px

button(active = false)
    outline: none
    background: white
    font-family: var(--font-pt)
    cursor: pointer
    padding: 5px
    border-radius: var(--radius)
    color: var(--color-black)
    border: none
    // border: 1px solid var(--color-grey)
    if active is 'active'
        background: var(--color-blue)
        color: white
        border: none
        cursor: default

buttonDisabled()
    cursor: default
    if active is 'active'
        background: var(--color-blue-light)
    else
        opacity: .4

buttonIcon()
    padding: 8px
    margin: 5px
    margin-right: 0
    border-radius: var(--radius)
    background: var(--color-grey-light)
    cursor: pointer
    font-size: 12px
    font-family: var(--font-mono)
    border: none
    transition: background .2s ease
    &:hover
        background: var(--color-grey-darker)

dropdownOptions()
    list-style: none
    padding: 0
    position: absolute
    right: 5px
    top: 25px
    z-index: 10
    width: 200px
    li
        background: white
        padding: 10px
        border: 1px solid var(--color-grey)
        font-size: 12px
        cursor: pointer
        &.is-active
            background: var(--color-blue)
            color: white
        &:not(.is-active):hover
            background: var(--color-grey-light)
input()
    max-width: 100%;
    text-overflow: ellipsis;
    outline: none
    border: none
    resize: none
    border-radius: var(--radius)
    padding: 10px
    font-size: 12px
    font-family: var(--font-mono)
    border: 1px solid var(--color-grey)
    color: var(--color-black)
inputPlaceholder()
    color: var(--color-grey-dark)
inputFocus()
    border: 1px solid var(--color-grey-dark)

fix()
    position: fixed
    left: 0
    top: 0
    width 100%
    height 100%

abs()
    position: absolute
    left: 0
    top: 0
    width 100%
    height 100%

stretch(mode)
    display: flex
    flex-flow: mode nowrap
    justify-content: stretch

flexCenter(direction = 'row')
    display: flex
    flex-flow: direction nowrap
    justify-content: center
    align-items: center

emptyIndicator()
    font-style: italic
    font-size: 14px
    color: var(--color-grey-dark)
    text-align: center
    padding: 10px
    padding-bottom: 0
    margin: 10px 0