.hyphe-footer {
  background: var(--color-white);
  bottom: 0;
  color: var(--color-black);
  font-family: var(--font-pt);
  padding: 5px;
  padding-left: 2em;
  position: absolute;

  button {
    background: none;
    border: none;

    &.selected {
      font-weight: bold;
    }
  }
}
