.hyphe-header {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-pt);
  padding: 5px;
  text-align: center;
}

.disconnection-link {
  color: var(--color-white);
  display: block;
  font-size: 1.5em;
  margin: 0 5px 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}
