.hyphe-header {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-pt);
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
  text-align: center;

  .disconnection {
    color: var(--color-white);
    display: block;
    float: right;
    padding-top: 2px;
    text-decoration: none;
    vertical-align: middle;
  }
}

