input:disabled, input[disabled] {
  background: #EEE;
  color: #999;
}

.form-error {
  color: #FB2F29;
}

/* inline form groups */

.form-group.inline {
  display: flex;
  flex-direction: row;
}
.form-group.inline > * {
  flex: 0 0 auto;
}
.form-group.inline .form-control {
  flex: 1;
}
