.urlInputContainer {
  display: flex;
}
.pane-one-half {
  flex: none;
  width: 50%;
}
.pane-one-third {
  flex: none;
  width: 33.3%;
}
.urlForm {
  display: inline-block;
  flex-grow: 1;
  margin: 0 1em;
}
.urlInput {
  display: inline-block;
  width: 100%;
}
.paneWebView {
  height: 88vh; /* TODO find a way for this thing to take the whole space, flexbox does not do the trick here */
}
.tabFavicon {
  vertical-align: middle;
  margin-right: 4px;
}
