/* will be supported on Chrome 49 */
:root {
  --primary-bg-color: #EFEBE8;
  --secondary-bg-color: #F7F3F0;
  --primary-blue-color: #428BCA;
}

body {
  background: #EFEBE8;
  color: #555;
}

a {
  color: #428BCA;
}

a.btn {
  text-decoration: none;
}

.window-content {
  background: #EFEBE8;
  color: #555;
}

.urlInputContainer {
  display: flex;
}
.pane-one-half {
  flex: none;
  width: 50%;
}
.pane-one-third {
  flex: none;
  width: 33.3%;
}
.urlForm {
  display: inline-block;
  flex-grow: 1;
  margin: 0 1em;
}
.urlInput {
  display: inline-block;
  width: 100%;
}
.paneWebView {
  height: 88vh; /* TODO find a way for this thing to take the whole space, flexbox does not do the trick here */
}
.tabFavicon {
  vertical-align: middle;
  margin-right: 4px;
}


/** Error dialog **/

.error-dialog {
  position: absolute;
  width: 50%;
  left: 25%;
  min-height: 50px;
  max-height: 300px;
  background: rgba(200, 50, 50, 0.75);
  color: black;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
}
.error-dialog.hidden {
  top: -400px;
}
.error-dialog.visible {
  top: 5px;
}
.error-dialog-wrapper {
  position: static;
}
.error-dialog-wrapper.blocking {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.75);
  top: 0;
  left: 0;
  z-index: 999;
}


/** Header alignment **/

header {
  display: flex;
  flex-direction: row;
}
header h1.title {
  flex-grow: 1;
}

/** Corpus status **/

h1.title {
  font-weight: bold;
  font-size: 18px;
}

.corpus-statuses {
  display: flex;
  flex-direction: row;
  width: 160px;
}
.corpus-status {
  flex-grow: 1;
  margin: 1px;
  padding: 1px;
  background: #fff;
  text-align: center;
  font-size: 16px;
}
.corpus-status-IN {
  border-bottom: 3px solid #333;
}
.corpus-status-UNDECIDED {
  border-bottom: 3px solid #ADA299;
}
.corpus-status-OUT {
  border-bottom: 3px solid #FAA;
}
.corpus-status-DISCOVERED {
  border-bottom: 3px solid #93BDE0;
}

/** Disconnection **/

.disconnect-link {
  display: block;
  margin: 0 5px 0 10px;
}
.icon-disconnect {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/** Load indicators **/

.corpus-loads {
  display: flex;
  flex-direction: row;
  width: 160px;
}

.corpus-load {
  flex-grow: 1;
  margin: 1px;
  padding: 1px;
  background: #fff;
  text-align: center;
  font-size: 16px;
}

/** Tabs **/

.tab-favicon {
  vertical-align: middle;
  margin-right: 4px;
}
