:root {
  --radius: 6px;
}

@import './colors.css';
@import './fonts.css';
@import './buttons.styl';
@import './hint.base.css';
@import './themify-icons.css';


/**
 * LAYOUT
 */
#root
  abs()
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-mont);

/**
 * COMPONENTS
 */

a
  color: var(--color-black)

a.btn
  text-decoration: none;

input:disabled, input[disabled] {
  background: #EEE;
  color: #999;
}

input
  box-sizing: border-box

.ReactModal__Overlay
    display: flex
    align-items: center
    justify-content: center

select
  max-width: 100%
  background: var(--color-black)
  color: var(--color-white)
  font-family: var(--font-mont)
  outline: none

select[disabled]
  background: var(--color-grey);
  border-color var(--color-grey);
  color: var(--color-black);
  -webkit-appearance: none;


.buttons-row
  stretch(row)
  padding: 0
  list-style: none
  width: 100%;
  margin: 0
  li
    flex: 1
    stretch(row)
    &.main-button-container
      flex: 4
  li.small
    flex: 0
  li:not(:last-of-type)
    margin-right: 5px
  .btn
    font-size: 12px
    flexCenter()
    flex: 1

.modal-content-container
  margin:0
  padding: 0
  font-family: var(--font-mont)
  .modal-content-footer
    padding: 10px
    background: var(--color-grey-light)
  .modal-content-header
    background: var(--color-black)
    color: var(--color-white)
    padding: 10px
    h1,h2,h3
      margin: 0
  .modal-content-body
    padding: 10px

.form-error
  background: var(--color-red)
  color: var(--color-white)
  padding: 5px;
  border-radius: var(--radius)
  font-size: 12px
  margin: 10px 0


// ul::-webkit-scrollbar
// div::-webkit-scrollbar-track
//     width: 5px

// ul::-webkit-scrollbar-thumb
// div::-webkit-scrollbar-track
//     background: var(--color-blue)
//     cursor: pointer

// ul::-webkit-scrollbar-track
// div::-webkit-scrollbar-track
//     background: var(--color-grey-light)
//     margin-left: 4px
//     margin-right: 4px
//     cursor: pointer
