:root {
  --radius: 6px;
}

@import './colors.css';
@import './fonts.css';
@import './buttons.styl';

body {
  background: var(--color-white);
  color: var(--color-black);
}

a {
  color: var(--color-black)
}

a.btn {
  text-decoration: none;
}

input:disabled, input[disabled] {
  background: #EEE;
  color: #999;
}

.window, .window-content {
  background: var(--color-white);
}

// used in login forms
.form-error {
  color: #FB2F29;
}
