:root {
  --radius: 6px;
}

@import './colors.css';
@import './fonts.css';
@import './buttons.styl';

body {
  background: var(--color-white);
  color: var(--color-black);
}

a {
  color: var(--color-black)
}

a.btn {
  text-decoration: none;
}

.window, .window-content {
  background: var(--color-white);
}

.urlInputContainer {
  display: flex;
}
.urlForm {
  display: inline-block;
  flex-grow: 1;
  margin: 0 1em;
}
.urlInput {
  display: inline-block;
  width: 100%;
}
.paneWebView {
  height: 88vh; /* TODO find a way for this thing to take the whole space, flexbox does not do the trick here */
}


/** Tab toolbar **/

.browser-tab-content .toolbar-actions {
  display: flex;
  flex-direction: row;
}
.tab-toolbar-navigation,
.tab-toolbar-webentity {
  flex-shrink: 1;
  flex-grow: 0; /* Do not grow bigger, empty space will be occupied by URL field */
}
.tab-toolbar-webentity {
  min-width: 250px;
}
.tab-toolbar-url {
  flex: 1;
}
.tab-toolbar-url input {
  width: 100%;
}
.tab-toolbar-webentity input {
  min-width: 100px;
  max-width: 250px;
  width: initial;
}
.tab-toolbar-webentity input.loading {
  background-image: url(../images/loading.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}


/** Tab url field **/

.browser-tab-url {
  min-height: 30px;
}

.browser-tab-url.loading {
  background-image: url(../images/loading-url.gif);
  background-repeat: repeat-x;
  background-position: center;
}
/* :first-child = scheme */
.browser-tab-url em:first-child {
  font-style: normal;
}
.browser-tab-url em:not(:first-child) {
  background: #ffff99;
  padding: 2px 5px;
  font-weight: bold;
  font-style: normal;
}
.browser-tab-prefix-selector .prefix {
  max-width: 20em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.browser-tab-prefix-selector .prefix-selected {
  background: #ffff99;
  font-weight: bold;
}
.browser-tab-prefix-selector .prefix-over {
  background: #99ccff;
}
.browser-tab-url-placeholder {
  color: #999;
  letter-spacing: .2em;
}

/** WebView height fix **/

.browser-window {
  display: flex;
  flex-direction: column;
}
.browser-window > * {
  flex: 0 0 auto;
}
