@import './colors.css';
@import './fonts.css';
@import './buttons.css';

body {
  background: var(--color-white);
  color: var(--color-black);
}

a {
  color: #428BCA;
}

a.btn {
  text-decoration: none;
}

.window, .window-content {
  background: var(--color-white);
}

.urlInputContainer {
  display: flex;
}
.urlForm {
  display: inline-block;
  flex-grow: 1;
  margin: 0 1em;
}
.urlInput {
  display: inline-block;
  width: 100%;
}
.paneWebView {
  height: 88vh; /* TODO find a way for this thing to take the whole space, flexbox does not do the trick here */
}
.tabFavicon {
  vertical-align: middle;
  margin-right: 4px;
}


/** Error dialog **/

.error-dialog {
  position: absolute;
  width: 70%;
  left: 15%;
  min-height: 50px;
  background: rgba(200, 50, 50, 0.75);
  color: black;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
}
.error-dialog .error-dialog-close {
  float: right;
  color: #fff;
  font-size: 28px;
}
.error-dialog.hidden {
  top: -400px;
}
.error-dialog.visible {
  top: 5px;
}
.error-dialog-wrapper {
  position: static;
}
.error-dialog-wrapper.blocking {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.75);
  top: 0;
  left: 0;
  z-index: 999;
}

/** Tabs **/

.tab-favicon {
  vertical-align: middle;
  margin-right: 4px;
}
.browser-tab {
  max-width: 300px;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.browser-tab .loading {
  background-image: url(../images/loading.svg);
  float: left;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.browser-tab-emptyspace {
  flex-grow: 1;
}
.browser-tab-scroll-left,
.browser-tab-scroll-right,
.browser-tab-new {
  color: #333;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 1px;
}
.browser-tab-scroll-left.inactive,
.browser-tab-scroll-right.inactive {
  background: #fff;
  border: #ccc;
  color: #ccc;
}
.tab-group-main .tab-item .icon-close-tab {
  left: initial;
  right: 5%;
}

/** Tab toolbar **/

.browser-tab-content .toolbar-actions {
  display: flex;
  flex-direction: row;
}
.tab-toolbar-navigation,
.tab-toolbar-webentity {
  flex-shrink: 1;
  flex-grow: 0; /* Do not grow bigger, empty space will be occupied by URL field */
}
.tab-toolbar-webentity {
  min-width: 250px;
}
.tab-toolbar-url {
  flex: 1;
}
.tab-toolbar-url input {
  width: 100%;
}
.tab-toolbar-webentity input {
  min-width: 100px;
  max-width: 250px;
  width: initial;
}
.tab-toolbar-webentity input.loading {
  background-image: url(../images/loading.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}


/** Tab url field **/

.browser-tab-url {
  min-height: 30px;
}

.browser-tab-url.loading {
  background-image: url(../images/loading-url.gif);
  background-repeat: repeat-x;
  background-position: center;
}
/* :first-child = scheme */
.browser-tab-url em:first-child {
  font-style: normal;
}
.browser-tab-url em:not(:first-child) {
  background: #ffff99;
  padding: 2px 5px;
  font-weight: bold;
  font-style: normal;
}
.browser-tab-prefix-selector .prefix {
  max-width: 20em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.browser-tab-prefix-selector .prefix-selected {
  background: #ffff99;
  font-weight: bold;
}
.browser-tab-prefix-selector .prefix-over {
  background: #99ccff;
}
.browser-tab-url-placeholder {
  color: #999;
  letter-spacing: .2em;
}

/** WebView height fix **/

.browser-window {
  display: flex;
  flex-direction: column;
}
.browser-window > * {
  flex: 0 0 auto;
}
