

.known-pages
    .download
        padding-top: 10px
    .known-pages-wrapper
        background: var(--color-grey);
        border-radius: var(--radius);
        padding: 10px;
    .known-pages-list
        list-style: none
        padding: 0
        max-height: 30vh
        overflow-y: auto
    .known-page-card
        // cursor: pointer
        background: var(--color-white);
        font-family: var(--font-pt);
        font-size: 12px;
        margin: 6px 10px;
        padding: 10px;
        padding-left: 20px
        text-align: left;
        display: flex
        flex-flow: row nowrap
        justify-content: stretch
        align-items: center
        .card-content
            flex: 1
            cursor: pointer
            .known-page-url
                text-decoration: underline
    .known-page-card.is-active
        background: var(--color-blue)
        color: var(--color-white)
    .homepage-btn
        background: transparent
        border: none 
        outline: none
        width: 30px
        height: 30px
        color: inherit
        display: flex
        align-items: center
        justify-content: center
        padding: 15px
        padding-top: 8px
        border-radius: 50%
        cursor: pointer
    .homepage-btn.is-active
        background: var(--color-blue)
        color: white
        border: 1px solid white
    .known-page-card.is-active .homepage-btn.is-active
        background: white
        color: var(--color-blue)