

@import '../../css/helpers.styl'

.ReactModal__Overlay
    display: flex
    align-items: center
    justify-content: center

.new-entity-modal-container
    stretch(column)
    max-height: 100%
    overflow : hidden
    height: 100%
    position: relative
    max-height: calc(90vh - 15px);
    input
        input()
    .step3-title-container
        stretch(row)
        width: 100%
        span
            flex: 1
        button
            margin-right: 10px
    .standalone-confirm-container
        padding: 10px 5px
        text-align: right
        list-style: none
    .settings-container
        padding: 10px 0
        ul
            list-style: none
            padding: 0
            stretch(row)
            li
                flex: 1
        /* Cachons la case à cocher */
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked
            position: absolute;
            left: -9999px;

        /* on prépare le label */
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label
            position: relative; /* permet de positionner les pseudo-éléments */
            padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
            cursor: pointer;    /* affiche un curseur adapté */

        /* Aspect des checkboxes */
        /* :before sert à créer la case à cocher */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before
            content: '';
            position: absolute;
            left:0; top: 2px;
            width: 17px; height: 17px; /* dim. de la case */
            border: 1px solid var(--color-blue);
            background: #f8f8f8;
            border-radius: 50%;
        [type="checkbox"]:checked + label:before
            background: var(--color-blue);


    .pages-list
        background: var(--color-grey);
        border-radius: var(--radius);
        padding: 10px;
        list-style: none
        .page-card
            cursor: pointer
            background: var(--color-white);
            font-family: var(--font-pt);
            font-size: 12px;
            margin: 6px 10px;
            padding: 10px 20px;
            text-align: left;
            stretch(row)
            .card-content
                flex: 1
            .card-actions
                cursor: pointer

        .page-card.is-selected
            background: var(--color-blue)
            color: white
    .btn[disabled]
        opacity: .5
    .actions-container
        display: flex
        flex-flow: row nowrap
        padding: 0
        margin: 0
        li
            list-style-type: none
            margin-right: 10px
    .actions-container.big
        justify-content: stretch

        > li
            flex: 1
            display: flex
            justify-content: stretch
            flex-direction: column
            .btn
                flex: 1
                font-size: 14px
            .prefix-setter
                margin-top: 10px
                font-size: 14px
                li
                    flex: unset
                    margin: 0
        &.column
            flex-direction: column
            li
                margin-bottom: 5px
    .btn-success
        background: var(--color-blue)
        color: white
    .btn-danger
        background: red
        color: white
    .explanation-text
        margin-top: 10px
        margin-bottom: 20px
        padding: 10px
        // background: var(--color-blue)
        background: var(--color-grey)
        // color: white
        color: black;
        line-height: 1.5
    code
        font-size: 1.2em
        background: var(--color-blue)
        color: white
        padding: 2px
    .step-container
        margin-bottom: 10px
        margin-top: 10px
        padding: 10px
        background: var(--color-white)

    .modal-header
        h2
            stretch(row)
            margin: 0
            padding: 10px
            padding-left: 20px
            background: var(--color-black)
            color: var(--color-white)
            font-size: 20px
            span
                flex: 1
            .ti-close
                cursor: pointer
    .modal-body
        flex: 1
        overflow-x: hidden
        overflow-y: auto
        background: white
        padding: 10px
        padding-left: 20px
        padding-right: 20px
    .modal-footer
        padding: 10px
        padding-left: 20px
        padding-right: 20px
        button
            font-size: 14px
            outline: none
