@import '../../css/helpers.styl'

.searchbar-container
  background: var(--color-grey-light)
  height: 40px
  width: 100%
  position: absolute
  bottom: 0
  right: 0
  z-index: 1
  display: flex
  align-items: center
  .search-input
    padding-left: 5px
  button
    border: none
    background: transparent
    cursor: pointer
  button.cancel
    position: absolute
    right: 5px