@import '../../css/helpers.styl'

.searchbar-container
  background: var(--color-grey-light)
  height: 40px
  width: 100%
  position: absolute
  bottom: 0
  z-index: 1
  padding-left: 10px;
  display: flex
  align-items: center
  .search-result
    margin-left: 10px
  button
    border: none
    background: transparent
    cursor: pointer
  button.cancel
    position: absolute
    right: 20px