@import '../../css/helpers.styl'

.linked-entities
    .main-wrapper
        background: var(--color-grey)
        border-radius: var(--radius)
    .actualize-container
        padding: 10px 10px 0 10px
    .download
        padding: 10px

    .entity-card
        margin-left: 5px
        margin-bottom: 5px
    .actions-container
        list-style: none
        padding: 10px
        stretch(row)
        li
            flex: 1
        .btn
            width: 100%
            button('active')
            height: 40px
            flexCenter()
        .confirm-btn
            background: var(--color-blue)
            &:hover
                color: var(--color-white)!important
                background: var(--color-black)!important
        .cancel-btn
            background: var(--color-red)
            &:hover
                color: var(--color-white)!important
                background: var(--color-black)!important
        li:first-of-type
            padding-right: 5px
        @media (max-width: $tablet-break-point)
            .btn
                height: 60px

    .empty-indicator
        emptyIndicator()
.linked-entities.is-loading
    .cards-list
        opacity: 0.5
    .entity-card
        pointer-events: none
