
@import '../../css/helpers.styl'

.entity-card
    background: white
    padding: 10px
    box-shadow: 0 0 10px var(--color-grey-light)
    transition: all .2s ease
    cursor: pointer
    stretch(row)

    .status-marker-container
        display: flex
        justify-content: center
        align-items: center
        padding-right: 10px
        position : relative
        min-width: 20%
        .status-marker
            border-radius: 50%
            position : absolute
            padding: 10px
            flexCenter()
            width: 15px
            height: 15px
            text-align: center
            color: var(--color-white)
            &.discovered
                background: var(--color-corpus-discovered)
            &.in
                background: var(--color-corpus-in)
            &.out
                background: var(--color-corpus-out)
            &.undecided
                background: var(--color-corpus-undecided)
            &.merge
                background: grey
            &.previous-status
                width: 5px
                height: 5px
                font-size: 10px
                margin-bottom: 5px
                position: relative
                top: -10px
                left: -15px
        .viewed-marker
            border-radius: 50%
            position : relative
            left : 15px
            top: 10px
            padding: 3px
            flexCenter()
            width: 10px
            height: 10px
            font-size: 10px
            text-align: center
            color: var(--color-white)
            border: 1px solid var(--color-white)
            background: var(--color-corpus-discovered)


    .card-content
        flex: 1
        min-width: 60%
        &.actions-new-line
            max-width: 80%
        .name
            padding: 0
            margin: 0
            font-size: 14px
            font-weight: bold
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
        .homepage-wrapper
            display: block
        .url
            font-size: 11px
            margin: 0
            margin-bottom: 10px
            margin-top: 5px
            text-decoration: underline
            max-height: 1.2em
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
        .statistics
            font-size: 10px
            flexStretch()
            .text
                flex: 1
    .card-actions
        &.actions-new-line
            .card-actions-row
                flex-flow: row
                margin-top: 5px
                li
                    margin-bottom: 0
                    margin-right: 5px
        .card-actions-row
            display: flex
            flex-flow: column
            padding: 0
            list-style : none
            margin: 0
            overflow: visible
            li
                background: inherit
                display: inline-block
                margin: 0
                margin-bottom: 5px
                padding: 0
                p
                .btn
                    button()
                    padding: 5px
                    background: var(--color-grey)
                    font-size: 11px
                    width: 30px
                    height: 30px
                &.is-active
                    .btn
                        button('active')
                        background: var(--color-black)
                &.tooltipable-placeholder
                    .btn,.btn:hover
                        background: var(--color-grey-darker)
    @media (max-width: $tablet-break-point)
        flex-direction: column
        .card-actions
            margin-top: 10px
            text-align: right
        .status-marker-container
            display: none
        .card-actions-row
            text-align: left

.entity-card.is-visited
    background: var(--color-grey-light)
.entity-card.is-active
    background: var(--color-blue)
    color: white
.entity-card:hover:not(.is-active)
    background: var(--color-blue-light)
    color: white