
@import '../../css/helpers.styl'

.entity-card
    background: white
    padding: 10px
    box-shadow: 0 0 10px var(--color-grey-light)
    transition: all .2s ease
    cursor: pointer
    stretch(row)
    justify-content space-around

    .status-marker-container
        display: flex
        justify-content: center
        align-items: center
        padding-right: 10px
        .status-marker
            border-radius: 50%
            position : relative
            padding: 10px
            flexCenter()
            width: 15px
            height: 15px
            text-align: center
            color: var(--color-white)
            &.discovered
                background: var(--color-corpus-discovered)
            &.in
                background: var(--color-corpus-in)
            &.out
                background: var(--color-corpus-out)
            &.undecided
                background: var(--color-corpus-undecided)
        .viewed-marker
            border-radius: 50%
            position : relative
            left : -10px
            top: 10px
            padding: 3px
            flexCenter()
            width: 10px
            height: 10px
            font-size: 10px
            text-align: center
            color: var(--color-white)
            border: 1px solid var(--color-white)
            background: var(--color-corpus-discovered)


    .card-content
        flex: 1
        max-width: 40%
        .name
            font-size: 14px
            padding: 0
            margin: 0
            font-weight: bold
            overflow: ellipsis
        .url
            font-size: 11px
            margin: 0
            margin-bottom: 10px
            margin-top: 5px
            text-decoration: underline
            max-height: 1.2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 200px;
        .statistics
            font-size: 10px
            flexStretch()
            .text
                flex: 1
    .card-actions
        min-width: 30%
    .card-actions-row
        padding: 0
        list-style : none
        margin: 0
        overflow: visible
        text-align: right;
        // padding-bottom: 5px;
        li
            flex: 1
            background: inherit
            display: inline-block
            margin: 0
            padding: 0
            margin-bottom: 5px
            .btn
                button()
                padding: 7px
                background: var(--color-grey)
                width: 40px
                height: 40px
                margin-left: 5px
            &.is-active
                .btn
                    button('active')
                    background: var(--color-black)
                    padding: 7px
    @media (max-width: $tablet-break-point)
        flex-direction: column
        .card-actions
            margin-top: 10px
            text-align: right
        .status-marker-container
            display: none
        .card-actions-row
            text-align: left

.entity-card.is-visited
    background: var(--color-grey-light)
.entity-card.is-active
    background: var(--color-blue)
    color: white
.entity-card:hover:not(.is-active)
    background: var(--color-blue-light)
    color: white