
@import '../../css/helpers.styl'


ul::-webkit-scrollbar
    width: 2px

ul::-webkit-scrollbar-thumb
    background: var(--color-blue)

ul::-webkit-scrollbar-track
div::-webkit-scrollbar-track
    background: var(--color-grey-light)

div::-webkit-scrollbar
    width: 4px

div::-webkit-scrollbar-thumb
    background: var(--color-grey)

input
    font-family: var(--font-mono)

.spinner-container {
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    background: var(--color-white)
}

.mode-btn
    button()
    font-size: 13px
    background: var(--color-grey)
    font-family: var(--font-mont)
    flexCenter()
    width: calc(100% - 5px)
    height: 100%
    @media (max-width: $tablet-break-point)
        height: 30px
.mode-btn:last-of-type
    margin-right: 0
.mode-btn.is-active
    button('active')
    font-family: var(--font-mont)
    margin-right: 0
.mode-btn[disabled]
    opacity: 0.5
    pointer-events: none

.help-pin
    padding-left: .2em

.browser-layout
    fix()
    stretch(column)
    background: var(--color-white)
    .browser-main-container
        flex: 1
        stretch(row)
        overflow: hidden
        .browser-column.browser-aside-column
            width: 416px
            max-width: 40%
            max-height: 100%
            padding: 0
            box-sizing: border-box
            padding-right: 0
            background: var(--color-grey-light)
            .aside-header.switch-mode-container
                max-height: 35px
                stretch(row)
                justify-content: space-between
                list-style: none
                padding: 10px
                padding-left: 20px
                padding-right: 20px
                padding-bottom: 0
                margin: 0
                height: 35px
                background: var(--color-grey-light)
                
                li
                    flex: 1
                @media (max-width: $tablet-break-point)
                    flex-direction: column
                    min-height: 70px
                    li
                        margin-bottom: 5px
            .aside-content
                flex: 1
                max-height: calc(100%)
                height: 100%
                overflow: hidden
                stretch(column)
                .edition-cartel:last-of-type
                    margin-bottom: 60px
                .list-layout
                    height: 100%
                    max-height: calc(100% - 30px)
                    @media (max-width: $tablet-break-point)
                        max-height: calc(100% - 70px)
                    .edition-cartel:first-of-type
                        margin-bottom: 0
                        margin-top: 20px
                        .edition-cartel-content
                            padding-top: 0
        .browser-column.browser-main-column
            flex: 1
            stretch(column)
    .hyphe-view-container
        flex: 1
        webview
            height: 100%
    .current-stack-indicator
        min-width: 10px
        min-height: 10px
        border-radius: 50%
        margin-right: 5px
        position: relative
        display: inline-block
        &.IN
            background: var(--color-corpus-in)
        &.OUT
            background: var(--color-corpus-out)
        &.DISCOVERED
            background: var(--color-corpus-discovered)
        &.UNDECIDED
            background: var(--color-corpus-undecided)