.browser-window {
  display: flex;
  flex-direction: column;

  .global-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 998;
    opacity:0.5;
    background:#252b30;
  }

  .over-overlay {
    z-index: 999;
    position: relative; // should be overriden carefully
  }
}
