.browser-stack {
  display: flex;
  justify-content: space-around;

  // left side

  progress,
  progress::-webkit-progress-bar {
    background: var(--color-grey);
    height: 4px;
  }

  progress::-webkit-progress-value {
    background: var(--color-black);
  }

  // right colored buttons

  .fillers {
    flex-shrink: 0;
  }

  .filler {
    background: none;
    border: none;
    margin-right: 1em;
    text-align: left;

    &:hover {
      background: var(--color-grey);
    }
  }

  .filler-name {
    cursor: pointer;
    font-family: var(--font-mont);
    font-weight: bold;
  }

  .filler.selected .filler-name {
    background: var(--color-black);
    border-radius: 6px;
    color: var(--color-white);
    padding: 6px;
  }

  .filler-counter {
    cursor: pointer;
    font-family: var(--font-pt);
  }

  // see colors.styl

  .filler-UNDECIDED .filler-counter {
    color: var(--color-corpus--undecided);
  }

  .filler-IN .filler-counter,
  .filler-IN_UNTAGGED .filler-counter,
  .filler-IN_UNCRAWLED .filler-counter {
    color: var(--color-corpus-in);
  }

  .filler-OUT .filler-counter {
    color: var(--color-corpus-out);
  }

  .filler-PROSPECT .filler-counter {
    color: var(--color-corpus-discovered);
  }

}

.browser-stack-wes {
  display: flex;
}
  .browser-stack-wes-index {
    padding-right: .5em;
  }

  .browser-stack-wes-selector {
    flex-grow: 1;
    text-align: center;
  }

  .browser-stack-wes-selector .form-control {
    max-width: 500px;
    width: auto;
  }

  .browser-stack-wes-prev .icon {
  }

  .browser-stack-wes-next .icon {
    float: right;
  }

