.browser-stack {
  display: flex;
  padding: 1em 2em;

  // left side

  progress,
  progress::-webkit-progress-bar {
    background: var(--color-grey);
    display: block;
    height: 4px;
    margin-top: .5em;
    width: 100%;
  }

  progress::-webkit-progress-value {
    background: var(--color-black);
  }

  // right colored buttons

  .fillers {
    display: flex;
    margin-left: 4em;
  }

  .filler {
    background: none;
    border: none;
    border-radius: 6px;
    padding: 0 1em;
    position: relative;
    text-align: left;

    &:hover {
      background: var(--color-grey);
    }

    &::after {
      background: var(--color-black);
      content: ''
      height: 24px;
      position: absolute;
      right: 0;
      top: 1em;
      width: 1px;
    }

    &:last-child::after {
      display: none;
    }
  }

  .filler-name {
    cursor: pointer;
    font-family: var(--font-mont);
    font-weight: bold;
    padding: 6px;
  }

  .filler.selected .filler-name {
    background: var(--color-black);
    border-radius: 6px;
    color: var(--color-white);
  }

  .filler-counter {
    cursor: pointer;
    font-family: var(--font-pt);
    padding-left: 6px;
  }

  // see colors.styl

  .filler-UNDECIDED .filler-counter {
    color: var(--color-corpus--undecided);
  }

  .filler-IN .filler-counter,
  .filler-IN_UNTAGGED .filler-counter,
  .filler-IN_UNCRAWLED .filler-counter {
    color: var(--color-corpus-in);
  }

  .filler-OUT .filler-counter {
    color: var(--color-corpus-out);
  }

  .filler-PROSPECT .filler-counter {
    color: var(--color-corpus-discovered);
  }

}

.browser-stack-wes {
  display: flex;
}
  .browser-stack-wes-index {
    padding-right: .5em;
  }

  .browser-stack-wes-selector {
    flex-grow: 1;
    text-align: center;
  }

  .browser-stack-wes-selector .form-control {
    max-width: 500px;
    width: auto;
  }

  .browser-stack-wes-prev .icon {
  }

  .browser-stack-wes-next .icon {
    float: right;
  }

