.browser-stack {
  display: flex;
  padding: 22px 1em 1em 1em;

  // left side

  .browser-stack-wes {
    display: flex;
    flex-grow: 1;
    max-width: 400px;
    min-width: 200px;

    // prev, next, refill
    .btn {
      font-size: 16px;
      padding: 6px;
    }
  }

  .browser-stack-wes-selector {
    flex-grow: 1;
  }

  // html dropdown

  .browser-stack-wes-empty-list,
  .browser-stack-wes-list {
    border-radius: var(--radius);
    flex-grow: 1;
    font-family: var(--font-pt);
    font-size: 12px;
    height: 38px;
  }

  .browser-stack-wes-empty-list {
    background: var(--color-grey);
    color: var(--color-black);

    // placeholder message
    span {
      display: block;
      padding: 8px;
      text-align: center;
    }
  }

  .browser-stack-wes-list {
    background: var(--color-black);
    color: var(--color-white);
    position: relative;
    text-align: left;
    // TODO issue with ::after pseudo elements of tabs
    z-index: 1000;
  }

  .browser-stack-wes-infinite {
    background: var(--color-black);
    border-radius: var(--radius);
    flex-grow: 1;

    &::-webkit-scrollbar {
      width:  6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-white);
    }

    &::-webkit-scrollbar-track {
        background: var(--color-black);
    }
  }

  .browser-stack-wes-list-item {
    display: flex;
    padding: 8px;
    padding-right: 30px;

    .we-viewed {
      margin-right: .5em;
    }

    .we-name {
      flex-grow: 1;
      font-weight: bold;
    }

    .we-indegree {
      border-left: 1px solid var(--color-white);
      padding-left: .5em;
      margin: 0 .5em;
    }

    @media (max-width: 1024px) {
      .we-indegree {
        display: none;
      }
    }

    &.selected {
      color: var(--color-blue);

      .we-indegree {
        border-left: 1px solid var(--color-blue);
      }
    }
  }

  .browser-stack-toggle {
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
    position: absolute;
    right: 8px;
    top: 8px;

    &.expanded {
      color: var(--color-blue);
    }
  }


  progress,
  progress::-webkit-progress-bar {
    background: var(--color-grey);
    display: block;
    height: 4px;
    margin-top: .5em;
    width: 100%;
  }

  progress::-webkit-progress-value {
    background: var(--color-black);
  }

  // right colored buttons

  .fillers {
    display: flex;
    margin-left: 3em;
  }

  .filler {
    background: none;
    border: none;
    border-radius: var(--radius);
    padding: 0 1em;
    position: relative;
    text-align: left;

    &:hover {
      background: var(--color-grey-light);
    }

    // separators

    &::after {
      background: var(--color-black);
      content: ''
      height: 24px;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }

    &:last-child::after {
      display: none;
    }

    // content

    .filler-name {
      cursor: pointer;
      font-family: var(--font-mont);
      font-size: 12px;
      font-weight: bold;
      padding: 3px;
      text-transform: uppercase;
    }

    .filler-counter {
      cursor: pointer;
      font-family: var(--font-pt);
      font-size: 11px;
      opacity: 0.75;
      padding-left: 6px;
    }

    // selected

    &.selected {
      .filler-name {
        background: var(--color-black);
        border-radius: var(--radius);
        color: var(--color-white);
      }

      .filler-counter {
        opacity: 1;
      }
    }

    // disabled

    &[disabled]:hover {
      background: none;

      .filler-name, .filler-counter {
        cursor: default;
      }
    }
  }

  // see colors.styl

  .filler-UNDECIDED .filler-counter,
  .filler-IN_UNTAGGED .filler-counter,
  .filler-IN_UNCRAWLED .filler-counter {
    color: var(--color-corpus-undecided);
  }

  .filler-IN .filler-counter {
    color: var(--color-corpus-in);
  }

  .filler-OUT .filler-counter {
    color: var(--color-corpus-out);
  }

  .filler-DISCOVERED .filler-counter {
    color: var(--color-corpus-discovered);
  }
}


