.browser-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;

  > div {
    flex: 0 0 auto;
  }

  > .browser-tabs-group {
    overflow: hidden;
  }

  .browser-tabs-group,
  .browser-tabs-group-edge,
  .browser-tabs-group-main {
    display: flex;
  }

  .browser-tabs-group-edge {
    flex-shrink: 1;
    flex-grow: 0;
    z-index: 90;
  }

  .browser-tabs-group-main {
    flex: 1;
    // to display the create new tab button
    padding-right: 30px;
    z-index: 80;
  }

  .browser-tab-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > * {
      flex: 0 0 auto;
    }

    .SplitPane {
      /* override inline styles */
      position: initial !important;
      height: initial !important;
    }
  }
}

.browser-tab-new {
  margin-left: .5em;
  position: relative;

  &::after {
    background: var(--color-grey);
    content: '';
    display: block;
    height: 60%;
    position: absolute;
    top: 7px;
    transform: skewX(20deg);
    width: 20px;
    z-index: -1;
  }

  &:hover::after {
    background: var(--color-black);
  }
}

