// see https://github.com/JedWatson/react-select/blob/master/scss/control.scss

.browser-stack-wes-list {
  // upper part
  cursor: pointer;

  .Select-control {
    border: 0;
    font-family: var(--font-pt);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

    .Select-arrow-zone {
      cursor: pointer;
    }
  }

  // black bg
  .Select-value {
    background: var(--color-black);
    cursor: pointer;

    .we-name, .we-indegree {
      cursor: pointer;
      color: var(--color-white);
      &::before {
        color: var(--color-white);
      }
    }
  }

  // double arrows on the right
  .ti-exchange-vertical {
    color: var(--color-white);
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
  }

  // grey bg
  &.is-open {
    .Select-value {
      background: var(--color-grey);

      .we-name, .we-indegree {
        display: none;
        color: var(--color-black);
        &::before {
          color: var(--color-black);
        }
      }
    }

    .ti-exchange-vertical {
      color: var(--color-blue);
    }
  }

  &.is-disabled {
    cursor: default;

    .Select-control {
      background: var(--color-grey);
      cursor: default;
    }
  }

  // upper label
  .browser-stack-wes-value {
    display: flex;
    cursor: pointer;

    .we-indegree {
      margin: 0 1.5em;
    }
  }

  .we-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .we-indegree {
    flex-shrink: 0;
    position: relative;
    text-align: right;
    width: 45px;
    padding-right: 5px;

    &::before {
      color var(--color-black);
      content: '|'
      display: inline
      left: 0;
      position: absolute;
    }
  }

  @media (max-width: 1024px) {
    .browser-stack-wes-value {
      .we-name {
        margin-right: 20px;
      }
    }

    .we-indegree {
      display: none;
    }
  }

  // each option in the select
  .browser-stack-wes-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: var(--font-pt);
    font-size: 12px;
    padding: 0 .5rem;

    &.selected {
      color: var(--color-blue);

      .we-indegree {
        &::before {
          color var(--color-blue);
        }
      }
    }

    &.focused {
      background: var(--color-grey-light);
    }

    &.focused.selected {
      background: none;
    }

    .we-name, .we-indegree {
      cursor: pointer;
    }

    &.viewed .we-name, &.viewed .we-indegree {
      font-weight: bold;
    }

    .we-indegree {
      padding-left: .5em;
      margin: 0 .5em;
    }
  }

  .Select-menu-outer {
    background: var(--color-grey);
    border: 0;
    // keep in sync with maxHeight in <Select>
    max-height: 502px;
    padding-right: 12px;
    padding-bottom: 12px;
  }

  .Select-menu {
    // keep in sync with maxHeight in <Select>
    max-height: 490px;
  }

  // scrollbar
  .VirtualSelectGrid {
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-blue);
    }
    &::-webkit-scrollbar-track {
      background: var(--color-grey-light);
    }
  }
}

