// toolbar, sidebar (optional) and webview

.browser-tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.browser-tab-toolbar {
  background: var(--color-grey-light);
  padding-top: 8px;
}

// prev, next, reload
.browser-tab-toolbar-navigation {
  flex-shrink: 1;
  flex-grow: 0;

  button {
    padding: 1em .5em;

    span {
      font-size: 16px;
    }
  }
}

.browser-tab-content-cols {
  display: flex;
  flex-grow: 1;
}

webview {
  flex-grow: 1;
}

