.browser-window {
  display: flex;
  flex-direction: column;

  .global-overlay {
    background: var(--color-black);
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 998;
  }

  .over-overlay.adjusting {
    z-index: 999;
    position: relative; // should be overriden carefully
  }
}
