.browser-tab-toolbar-url {
  flex: 1;
  overflow: hidden;

  .browser-tab-url {
    background: var(--color-white);
    font-size: 12px;
    min-height: 30px;
    width: 100%;
    cursor: text;

    text-align: left;
    padding-left: 35px;

    &.btn {
      padding-top: 10px;
    }

    em {
      cursor: inherit;
    }

    /* :first-child = scheme */
    em:first-child {
      font-style: normal;
    }

    em:not(:first-child) {
      background: var(--color-grey);
      padding: 2px 0px;
      font-weight: bold;
      font-style: normal;
    }

    em:nth-child(2) {
      border-radius: 3px 0 0 3px;
    }
    em:last-child {
      border-radius: 0 3px 3px 0;
    }

    &.loading {
      background-image: url(../../images/loading.svg);
      background-position: right;
      background-repeat: no-repeat;
      background-size: 30px;
    }

    &.startcrawl {
      cursor: default;

      em {
        cursor: default;
      }

      em:not(:first-child) {
        background: var(--color-blue-light);
      }
    }
  }

  .browser-tab-prefix-selector {
    text-align: left;
    cursor: initial;

    .btn-group {
      .btn.prefix {
        max-width: 20em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 2px;
      }

      .btn.prefix-selected {
        border-radius: 3px;
        font-weight: bold;
      }

      // Disable Photon's rule
      .btn:last-child {
        border-radius: 3px;
      }

      // Colors
      .btn.prefix, .btn.prefix.prefix-selected:disabled {
        font-weight: normal;
        background: var(--color-grey-light);
        color: var(--color-black);
      }
      .btn.prefix-selected {
        background: var(--color-blue-light);
        color: var(--color-black);
      }
      .btn.prefix-over {
        background: var(--color-blue);
        color: var(--color-white);
      }

    }
  }

  .browser-tab-url-placeholder {
    color: #999;
    letter-spacing: .2em;
  }
}

/* (try to) compensate .btn paddings */

.browser-tab-toolbar {
  input, .browser-tab-url, .browser-tab-prefix-selector, .browser-tab-toolbar-url {
    height: 36px;
  }
  .browser-tab-prefix-selector {
    padding: 5px;
    .btn-group {
      .btn {
        padding: 5px;
      }
      .btn+.btn {
        border: none; // disable stupid photon rule
      }
    }
  }
}
