.browser-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;

  > div {
    flex: 0 0 auto;
  }

  .browser-tabs-group,
  .browser-tabs-group-edge,
  .browser-tabs-group-main {
    display: flex;
  }

  .browser-tabs-group-edge {
    flex-shrink: 1;
    flex-grow: 0;
    z-index: 900;
  }

  .browser-tabs-group-main {
    flex: 1;
    z-index: 800;
  }

  .browser-tab-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > * {
      flex: 0 0 auto;
    }

    .SplitPane {
      /* override inline styles */
      position: initial !important;
      height: initial !important;
    }
  }
}

.browser-tab-new {
  margin-left: .5em;
  position: relative;
}

.browser-tab-new::after {
  background: var(--color-grey);
  content: '';
  display: block;
  height: 60%;
  position: absolute;
  top: 7px;
  transform: skewX(20deg);
  width: 20px;
  z-index: -1;
}
