.notification-container
  display block
  position absolute
  height 31px
  top 0
  left 0
  right 0
  z-index 999
  text-align center

  .notification
    background var(--color-blue)
    border-radius var(--radius)
    display inline-block
    margin 0 auto
    padding 4px 8px
    height 31px
    line-height 24px

    font-family var(--font-pt)
    font-size 14px
    color #faf9f8

    .error-dialog-close
      float right
      margin 0 0 0 8px

  &.hidden
    top -2000px

  &.visible
    top 0
