.page-hyphe-home {
  text-align: center;
}

.google-form {
  margin-top: 20vh;
}

.google-form h2 {
  font-family: var(--font-mont);
}

.google-form input {
  background: var(--color-grey);
  border: none;
  border-radius: 6px;
  font-family: var(--font-pt);
  padding: 1em;
  padding-right: 3em;
  width: 30em;
}

.google-form button {
  background: none;
  border: none;
  left: -2em;
  font-size: 1.5em;
  padding: 0.5em;
  position: relative;
  vertical-align: middle;
}

