.page-hyphe-home {
  width: 100%;
  text-align: center;
}

.google-form {
  margin-top: 20vh;

  h2 {
    font-family: var(--font-mont);
  }

  input {
    background: var(--color-grey);
    padding: 1em;
    padding-right: 3em;
    width: 30em;
    margin-left: 40px;
  }

  // magnificient glass on the right
  button {
    background: none;
    border: none;
    left: -2em;
    font-size: 1.5em;
    padding: 0.5em;
    position: relative;
    vertical-align: middle;
  }
}


