.browser-side-bar-tags {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  input, .tag-title {
    background-color: var(--color-white);
    border-radius: var(--radius);
    border: 0;
    color: var(--color-black);
    flex: 1;
    font-family: var(--font-pt);
    outline: 0;
    padding: .8em;
  }

  .tag-title {
    cursor: text;
    text-align: left;
  }

  .browser-side-bar-category {
    li {
      display: flex;
    }
  }
}

form.tags-new-category {
  display: flex;
}

form.tags-new-tag,
form.tags-edit-tag {
  display: flex;
}
