.browser-side-bar-tags {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  input, .tag-title {
    background-color: var(--color-white);
    border-radius: var(--radius);
    border: 0;
    color: var(--color-black);
    flex: 1;
    font-family: var(--font-pt);
    outline: 0;
    padding: .8em;
  }

  .tag-title {
    cursor: text;
    text-align: left;
  }

  .browser-side-bar-tags-category {
    display: flex;
    margin-bottom: 10px;

    .category-name {
      font-family: var(--font-pt);
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      width: 150px;
    }
    li {
      display: flex;
    }
  }

  .browser-side-bar-tags-new-category {
    margin-top: 1em;

    // fake button when not focused
    input {
      background: var(--color-grey);
      cursor: pointer;
      padding-right: 30px;

      &::-webkit-input-placeholder {
        color: var(--color-black)
      }

      &:focus {
        background: var(--color-white);
        cursor: text;

        &::-webkit-input-placeholder {
          color: var(--color-white);
        }
      }
    }

    button {
      position: absolute;
      right: 20px;
      span {
        font-weight: bold;
      }
    }
  }
}


form.tags-new-tag,
form.tags-edit-tag {
  display: flex;
}
