.browser-side-bar {
  background: var(--color-grey-light);
  position: relative;
  text-align: center;
  width: 416px;

  @media (max-width: 1024px) {
    width: 306px;
  }

  // above footer
  .browser-side-bar-scroll {
    bottom: 32px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;

  @media (max-width: 1024px) {
    padding: 0 10px;
  }
  }

  h3 {
    font-family: var(--font-mont);
    font-size: 13px;
    position: relative;
    text-align: center;

    span {
      background: var(--color-grey-light);
      position: relative;
      z-index: 1;
      padding: 4px;
    }

    &::after {
      background: #cccecd;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .browser-side-bar-homepage-url {
    color: var(--color-black);
    opacity: 0.5;
    padding: 0px 0px 2px 8px;
    text-align: left;
    width: 346px;
    
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      direction: rtl;
      cursor: initial;

      &:hover:not([disabled]) {
        cursor:pointer;
      }
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
      cursor: pointer;

      &.inactive {
        opacity: 0.5;
        text-decoration: none;
        color: var(--color-black);
        cursor: initial;
      }
    }

    @media (max-width: 1024px) {
      width: 235px;
    }
  }

  // home button
  .browser-side-bar-homepage {
    text-align: left;

    button:first-child {
      color: var(--color-black);
      opacity: 0.5;
      padding: 0;
      font-size: 15px;

      &:hover {
        opacity: 1;
        color: var(--color-blue)
      }

      &[disabled] {
        color: var(--color-blue);
        opacity: 1;
      }
    }
  }

  .browser-side-bar-cols {
    display: flex;
    justify-content: space-around;

    > div {
      width: 50%;
    }

    @media (max-width: 1024px) {
      display: block;

      > div {
        text-align: center;
        width: 100%;
      }
    }
  }

  .browser-side-bar-info {
    font-family: var(--font-pt);
    font-size: 12px;
    text-align: left;

    h3 {
      margin-bottom: 20px;
    }

    .textinfo {
      padding-left: 22px;
    }

    .webentity-created {
      color: var(--color-blue);
      font-weight: bold;
    }
  }

  .browser-side-bar-status {
    h3 {
      margin-bottom: 20px;
    }

    button {
      background: var(--color-grey);
      font-family: var(--font-mont);
      font-weight: bold;
      height: 38px;
      margin: 0 5px;
      padding: 0;
      position: relative;
      width: 38px;

      &.status-undecided.active-status {
        background: var(--color-corpus-undecided);
        color: var(--color-white);
      }

      &.status-in.active-status {
        background: var(--color-corpus-in);
        color: var(--color-white);
      }

      &.status-out.active-status {
        background: var(--color-corpus-out);
        color: var(--color-white);
      }
    }
  }

  .hyphe-footer {
    background: var(--color-grey-light);
    padding-left: 20px;
    position: fixed;
  }
}

.browser-side-bar-sections {
  margin-top: 40px;

  .ti-angle-down, .ti-angle-up {
    font-size: 13px;
    cursor: pointer;
    padding-right: 4px;
  }

  .ti-angle-down {
    color: var(--color-blue);
  }
}

.browser-sidebar-disabled-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.5;
}
