// plural
.browser-side-bar-contextual-lists {

  // nav button
  .navigation {
    font-family: var(--font-mont);
    width: 33%;

    @media (max-width: 1024px) {
      width: 80px;
      white-space: normal;
    }

    &.selected {
      color: var(--color-blue);
    }

    &:active {
      background: none;
    }
  }

  // download button
  .download {
    width: 100%;
    text-align: right;
    button:hover {
      color: var(--color-blue);
    }
  }
}

// singular
.browser-side-bar-contextual-list {
  background: var(--color-grey);
  border-radius: var(--radius);
  padding: 10px;

  ul {
    max-height: 250px;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-blue);
    }
    &::-webkit-scrollbar-track {
      background: var(--color-grey-light);
    }
  }

  li {
    background: var(--color-white);
    font-family: var(--font-pt);
    font-size: 12px;
    margin: 6px 10px;
    padding: 10px 20px;
    text-align: left;

    .link-name {
      font-weight: bold;
      cursor: pointer;
    }

    .link-merge {
      float: right;
      cursor: pointer;
      &:hover {
        color: var(--color-blue)
      }
    }

    .link-linked {
      font-style: italic;
      font-size: 10px;
      margin: 0 .5em;
    }

    .link-url {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      direction: rtl;

      &.inactive {
        color: var(--color-blue)
      }
    }

    .link-url:hover {
      cursor: pointer;
      text-decoration: underline;

      &.inactive {
        cursor: initial;
        text-decoration: none;
      }
    }
  }
}
