.browser-side-bar {
  background: var(--color-grey-light);
  overflow: auto;
  padding: 0 20px;
  text-align: center;
  width: 416px;

  @media (max-width: 1024px) {
    width: 306px;
  }

  h3 {
    font-family: var(--font-mont);
    font-size: 13px;
    position: relative;
    text-align: center;

    span {
      background: var(--color-grey-light);
      position: relative;
      z-index: 1;
    }

    &::after {
      background: var(--color-grey);
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .browser-side-bar-homepage-url {
    color: var(--color-black);
    opacity: 0.4;
    text-align: left;
  }

  .browser-side-bar-cols {
    display: flex;
    justify-content: space-around;

    > div {
      padding: 0 10px;
      width: 50%;
    }

    @media (max-width: 1024px) {
      display: block;

      > div {
        text-align: center;
        width: 100%;
      }
    }
  }

  .browser-side-bar-info {
    font-family: var(--font-pt);
    font-size: 12px;
    text-align: left;
  }

  .browser-side-bar-status {
    button {
      background: var(--color-grey);
      font-family: var(--font-mont);
      font-weight: bold;
      height: 38px;
      margin: 0 5px;
      padding: 0;
      position: relative;
      width: 38px;

      &.active-status {
        background: var(--color-black);
        color: var(--color-white);
      }

      &::after {
        content: '';
        display: block;
        height: 2px;
        left: 5px;
        position: absolute;
        top: 42px;
        width: 28px;
      }

      &.status-undecided::after {
        background: var(--color-corpus-undecided);
      }

      &.status-in::after {
        background: var(--color-corpus-in);
      }

      &.status-out::after {
        background: var(--color-corpus-out);
      }
    }
  }

  .hyphe-footer {
    background: var(--color-grey-light);
    position: fixed;
  }
}

.sidebar-tabs {
  margin-top: 40px;
}

.browser-sidebar-disabled-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.5;
}
