.browser-side-bar {
  background: var(--color-grey-light);
  text-align: center;
  overflow: auto;

  .hyphe-footer {
    background: var(--color-grey-light);
    position: fixed;
  }
}

.browser-side-bar-status button {
  border-bottom-width: 3px;
}

button.active-status {
  font-weight: bold;
  color: #FFF;
}

button.status-in {
  border-bottom-color: #000;
}
button.status-in.active-status {
  background: #000;
}

button.status-undecided {
  border-bottom-color: #ADA299;
}
button.status-undecided.active-status {
  background: #ADA299;
}

button.status-out {
  border-bottom-color: #FAA;
}
button.status-out.active-status {
  background: #FAA;
}

.sidebar-tabs {
  margin-top: 40px;
}

.browser-sidebar-disabled-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.5;
}
