.browser-stack {
}

/* Top row */

.browser-stack-filler {
  display: flex;
}

  .browser-stack-name {
    flex-grow: 1;
    font-weight: bold;
  }

  .browser-stack-age {
  }

  .browser-stack-selector {
    flex-grow: 1;
    text-align: center;
  }

  .browser-stack-selector label {
    display: inline;
  }

  .browser-stack-selector .form-control {
    width: auto;
  }

/* Bottom row */

.browser-stack-wes {
  display: flex;
}

  .browser-stack-wes-selector {
    flex-grow: 1;
    text-align: center;
  }

  .browser-stack-wes-prev .icon {
  }

  .browser-stack-wes-next .icon {
    float: right;
  }
