.browser-stack {
  display: flex;
  justify-content: space-around;
}

/* Right buttons */
.stack-buttons {
}

.stack-button {
  background: none;
  border: none;
  margin-right: 1em;
  text-align: left;
}

.stack-button:hover {
  background: var(--color-grey);
}

.stack-name {
  cursor: pointer;
  font-family: var(--font-mont);
  font-weight: bold;
}

.stack-button-selected .stack-name {
  background: var(--color-black);
  border-radius: 6px;
  color: var(--color-white);
  padding: 6px;
}

.stack-counter {
  cursor: pointer;
  font-family: var(--font-pt);
}

.stack-button-UNDECIDED .stack-counter {
  color: var(--color-corpus--undecided);
}

.stack-button-IN .stack-counter,
.stack-button-IN_UNTAGGED .stack-counter,
.stack-button-IN_UNCRAWLED .stack-counter {
  color: var(--color-corpus-in);
}

.stack-button-OUT .stack-counter {
  color: var(--color-corpus-out);
}

.stack-button-PROSPECT .stack-counter {
  color: var(--color-corpus-discovered);
}

.browser-stack-wes {
  display: flex;
}
  .browser-stack-wes-index {
    padding-right: .5em;
  }

  .browser-stack-wes-selector {
    flex-grow: 1;
    text-align: center;
  }

  .browser-stack-wes-selector .form-control {
    max-width: 500px;
    width: auto;
  }

  .browser-stack-wes-prev .icon {
  }

  .browser-stack-wes-next .icon {
    float: right;
  }
