


.research-notes-container
    text-align: left;
    padding: 10px
    padding-top: 0
    form
        display: flex
        flex-flow: column nowrap
    textarea
        color: #aaa;
        line-height: 17px;
        max-width: 100%;
        overflow: auto;
        text-overflow: ellipsis;
        outline: none
        border: none
        resize: none
        border-radius: 5px
        padding: 5px
        font-size: 12px
    textarea:focus
        border: 1px solid black
    textarea::placeholder
        color: var(--color-grey-light)
    .research-note
        margin-bottom: 10px
        font-size: 12px
        display: flex
        flex-flow: row nowrap
        justify-content: stretch
        align-items: flex-start
        padding: 10px
        border: 1px solid var(--color-grey-dark)
        border-radius: 5px
        .research-note-content
            flex: 1
            padding-top: 10px
    .add-button
        position: relative!important
        right: unset!important
        width: 100%
        margin: 10px
        margin-left: 0
        margin-right: 0
        border: none
        background: white
        line-height: 34px;
        font-family: var(--font-pt)
        text-transform: uppercase
        cursor: pointer