

.linked-entities
    .list-toggle
        display: flex
        flex-flow: row nowrap
        padding: 10px
        justify-content: stretch
        padding-left: 0
        padding-right: 0
        button 
            background: var(--color-grey)
            outline: none
            width: 100%
        button.is-selected
            background: var(--color-blue)
            color: white
        button:first-of-type
            margin-right: 5px
    .download
        padding-top: 10px
        padding-bottom: 10px
        .btn
            background: var(--color-grey)
            padding: 10px
            width: 100%