

.cards-list
    background: var(--color-grey);
    border-radius: var(--radius);
    padding: 10px 10px 0 5px;
    .list-container
        list-style: none;
        padding: 0 0 10px 0;
        max-height: 25vh;
        overflow: hidden;
        overflow-y: auto;
        margin: 0;