

.cards-list
    background: var(--color-grey);
    border-radius: var(--radius);
    padding: 10px;
    padding-left: 10px; 
    padding-left: 5px;
    .list-container
        list-style: none;
        padding: 0;
        max-height: 30vh;
        overflow-y: auto;
        margin: 0;