@import '../../css/helpers.styl'

.server-select
  stretch(row)
  width: 100%
  max-width: calc(100% - 40px);
  select
    flex: 1
  button
    border: none
    background: transparent
    cursor: pointer