@import '../../css/helpers.styl'

.server-select
  stretch(row)
  width: 100%
  select
    flex: 1
  button
    border: none
    padding-right: 0
    background: transparent
    cursor: pointer

.json-text
  font-family: var(--font-mont)
  font-size: 0.8em;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: var(--radius);
  max-height: 20em;
  overflow: auto;
