.corpus-load-indicators {
  > span {
    margin-right: .8em;
  }
}

.corpus-load-title {
  color: var(--color-blue);
  font-weight: bold;
}

// green / orange / red lights in footer

.corpus-load {
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  vertical-align: baseline;
  width: 12px;
}

.corpus-load-status-READY,
.corpus-load-health-OK {
  background: var(--color-green);
}

.corpus-load-status-PENDING,
.corpus-load-health-PENDING,
.corpus-load-status-CRAWLING {
  background: var(--color-orange);
}

.corpus-load-health-ERROR {
  background: var(--color-red);
}
