@import '../../css/helpers.styl'

.browse-layout
    stretch(column)
    overflow: hidden
    max-height: 100%
    .browse-edition-container
        flex: 1
        overflow: hidden
        overflow-y: auto
        padding-left: 10px
        padding-right: 10px
        @media (max-width: $tablet-break-point)
            padding-bottom: 80px
        .set-status-container
            stretch(row)
            justify-content: space-between
            align-items: center
            list-style: none
            padding: 0
            cursor: pointer
            margin: 0
            @media (max-width: $tablet-break-point)
                flex-direction: column
                justify-content: stretch
                align-items: stretch
            
            li
                background: var(--color-grey)
                border-radius: var(--radius)
                flexCenter()
                height: 100px
                width: 100px
                max-width: calc(30% - 10px)
                font-weight: bold
                transition: all .2s ease
                
                @media (max-width: $tablet-break-point)
                    width: 100%
                    margin-bottom: 10px
                    height: 50px
                    max-width: unset
                &.in
                    background: var(--color-corpus-in)
                    color: white
                &.out
                    background: var(--color-corpus-out)
                    color: white
                &.undecided
                    background: var(--color-corpus-undecided)
                    color: white
                
            li:hover:not(.in):not(.out):not(.undecided)
                background: var(--color-grey-darker)
    .browse-nav
        stretch(row)
        align-items: flex-end
        padding-bottom: 10px
        min-height: 35px
        background: var(--color-grey-light)
        padding: 10px
        padding-left: 20px
        padding-right: 20px
        padding-top: 0
        .current-webentity-name
            flex: 1
            font-weight: bold
            text-align: center
            font-size: 16px
            pointer: cursor
        button 
            background: inherit 
            border: none 
            font-size: 20px
            outline: none
            padding: 0
            cursor: pointer
        button[disabled]
            opacity: 0.5
