@import '../../css/helpers.styl'

.aside-content
    position: relative
    .loader-container
        abs()
        stretch(column)
        align-items: center
        justify-content: center


.browse-layout
    stretch(column)
    overflow: hidden
    max-height: 100%
    .browse-edition-container
        flex: 1
        overflow: hidden
        overflow-y: auto
        padding-left: 10px
        padding-right: 10px
        list-style: none
        margin: 0
        margin-top: 10px
        @media (max-width: $tablet-break-point)
            padding-bottom: 80px
        .set-status-container
            stretch(row)
            justify-content: space-between
            align-items: center
            list-style: none
            padding: 0
            cursor: pointer
            margin: 0
            @media (max-width: $tablet-break-point)
                flex-direction: column
                justify-content: stretch
                align-items: stretch

            li
                background: var(--color-grey)
                border-radius: var(--radius)
                flexCenter()
                height: 100px
                width: 100px
                max-width: calc(30% - 10px)
                transition: all .2s ease
                min-width: 30%

                span.set-status-container-text
                    font-weight: bold

                @media (max-width: $tablet-break-point)
                    width: 100%
                    margin-bottom: 10px
                    height: 50px
                    max-width: unset
                &.in
                    background: var(--color-corpus-in)
                    color: white
                &.out
                    background: var(--color-corpus-out)
                    color: white
                &.undecided
                    background: var(--color-corpus-undecided)
                    color: white

            li:hover:not(.in):not(.out):not(.undecided)
                background: var(--color-grey-darker)
    .actualize
        width: 100%
        color: var(--color-black)
        padding: 5px
        background: var(--color-grey-light)
        font-size: 12px
        font-family: var(--font-mono)
    .linked-entities-wrapper
        .list-toggle
            stretch(row)
            padding: 10px
            padding-left: 0
            padding-right: 0
            button
                button()
                padding: 10px
                background: var(--color-grey)
                width: 100%
                span.list-toggle-title
                    margin-right: 3px;
            button.is-selected
                button('active')
            button:first-of-type
                margin-right: 5px
    .browse-nav
        stretch(row)
        align-items: flex-end
        justify-content: center
        padding-bottom: 10px
        min-height: 35px
        background: var(--color-grey-light)
        padding: 10px
        padding-left: 20px
        padding-right: 20px
        padding-top: 0
        .stack-nav-btn
            padding: 5px
            width: 20px
            height: 20px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            font-size: 8px
            color: var(--color-white)
            &.IN
                background: var(--color-corpus-in)
            &.OUT
                background: var(--color-corpus-out)
            &.SUGGESTIONS
                background: var(--color-corpus-discovered)
            &.UNDECIDED
                background: var(--color-corpus-undecided)
            &.hint--always
                background: var(--color-black)!important
        .current-webentity-name
            flex: 1
            font-weight: bold
            text-align: center
            font-size: 16px
            &.clickable
                cursor: pointer
        .current-webentity-stack-indicators
            flexStretch(row)
            align-items: center
            margin-left: 5px
            .arrow
                font-size: 8px
                position: relative
                top: -3px
                margin: 0 3px
            @media (max-width: $tablet-break-point)
                display: none
        .current-webentity-stack-indicator
            font-size: 8px
            border-radius: var(--radius)
            padding: 5px
            color: var(--color-white)
            position: relative
            top: -2px
            &.IN
                background: var(--color-corpus-in)
            &.OUT
                background: var(--color-corpus-out)
            &.SUGGESTIONS
                background: var(--color-corpus-discovered)
            &.UNDECIDED
                background: var(--color-corpus-undecided)
            @media (max-width: $tablet-break-point)
                display: none
        button
            background: inherit
            border: none
            font-size: 20px
            outline: none
            padding: 0
            cursor: pointer
        button[disabled]
            opacity: 0.2
            cursor: default
            &:hover
                opacity: 0.2
    .webentity-name-container
        stretch(row)
        input
            flex: 1
        .btn
            margin-left: 5px
