.server-logs
  font-family: var(--font-mont)
  font-size: 0.8em;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius);
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  overflow-y: auto;

  &.error
    background: var(--color-red)
