// toolbar, sidebar (optional) and webview

.browser-tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  // webentity, url, navigation

  .browser-tab-toolbar {
    background: var(--color-grey-light);
    display: flex;
    padding-top: 8px;
    padding-left: 20px;

    // prev, next, reload
    .browser-tab-toolbar-navigation {
      flex-shrink: 1;
      flex-grow: 0;
      margin-left: 10px;

      button {
        padding: 1em .5em;

        span {
          font-size: 16px;
        }
      }
    }
  }

  // below toolbar

  .browser-tab-content-cols {
    display: flex;
    flex-grow: 1;
  }

  .browser-tab-content-full {
    display: flex;
    flex-grow: 1;
  }

  webview {
    flex-grow: 1;
  }

  // By setting position to absolute, button goes out of the flux
  // URL bar can then take the empty space
  // By *not* setting any left/top/bottom/right information, button just stays where it would
  // have been in position relative, which means he'll appear being *in* the URL bar, on the left part
  .btn-adjust {
    position: absolute;
    padding: 11px;
    span {
      background: var(--color-grey);
      border-radius: var(--radius);
      padding: 5px;
      margin-left: -5px;
    }
  }

  // Crawling confirmation popup
  .we-popup {
    background: var(--color-blue);
    box-shadow: 1px 1px 2px 0px rgba(155,154,155,0.76);
    border-radius: 6px;
    width: 510px;
    padding: 12px;

    position: absolute;
    left: calc(50% - 250px);
    top: 20%;
    z-index: 999;

    display: flex;
    flex-direction: column;
    font-family: var(--font-pt);
    font-size: 14px;
    color: var(--color-white);
    padding: 13px 18px 18px 18px;

    strong {
      flex: 1;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      line-height: 25px;
      white-space: pre-line;
      margin-bottom: 8px;
    }
    p {
      margin-top: 4px;
      margin-bottom: 4px;
    }

    input {
      width: initial;
      margin: 13px 8px 0px 0px;
      cursor: pointer
    }

    label {
      margin-top: 10px;
      font-size: 12px;
    }

    .apply-we-popup {
      background: #faf9f8;
      box-shadow: 1px 1px 2px 0px rgba(155,154,155,0.26);
      border-radius: 6px;
      width: 100px;
      height: 30px;
      border: 1px solid black;
      color: #252b30;
      margin-top: 5px;
      font-weight: bold;
    }

    .cancel-we-popup {
      background: #252b30;
      box-shadow: 1px 1px 2px 0px rgba(155,154,155,0.26);
      border-radius: 6px;
      width: 90px;
      height: 30px;
      color: white;
      border: none;
      margin-top: 5px;
      font-weight: bold;
    }

    .we-popup-footer {
      display: flex;

      label {
        flex: 1;
      }
      button {
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 1;
        margin-left: 12px;

        cursor: pointer;
        * {
          cursor: pointer;
        }

        &:disabled {
          opacity: 0.5;
        }
      }
    }

  }

}
