@import '../../css/helpers.styl';


.login
  abs()
  flexCenter()
  .config-container
    background: var(--color-grey)
    border-radius: var(--radius)
    transition: background 0.2s linear
    padding: 1em
    max-width: 350px
    min-width: 350px
    .section-header
      margin-top: 0
      margin-bottom: 10px
  
  .search-container
    position: relative
    input 
      input()
      width: 100%
    .icon
      position: absolute
      top: 10px
      right: 10px
    
  .corpora-list-container
    margin-top: 20px
  
  .corpora-list
    padding: 0
    list-style: none
    max-height: 40vh
    overflow-y: auto

  .corpus-card
    background: var(--color-white)
    border-radius: var(--radius)
    padding: 10px;
    margin-bottom: 10px
    cursor: pointer
    .corpus-name
    .corpus-webentities
      margin: 0
      margin-bottom: 5px
      font-family: var(--font-pt)
      font-size: 14px
    .corpus-webentities
      font-size: 12px
    .corpus-dates
      white-space: nowrap
      text-overflow: ellipsis
      font-size: 10px
      opacity: 0.7;
    &:hover
      background: var(--color-grey-light)
.form-group
  stretch(column)
  margin-bottom: 15px
  label
    padding: 5px 0
    font-size: 12px
  input 
    input()
  &.horizontal
    stretch(row)
    align-items: center
    margin-bottom: 10px
