

.help-pin
    display: inline-block
    width: .7em
    height: 1em
    text-transform: none
    .placeholder
        opacity: 0
.help-pin:hover
    z-index: 1000
    .placeholder
        opacity: 1
