
@import '../helpers.styl'

button
    outline: none

ul::-webkit-scrollbar
    width: 2px

ul::-webkit-scrollbar-thumb
    background: var(--color-blue)

ul::-webkit-scrollbar-track
div::-webkit-scrollbar-track
    background: var(--color-grey-light)

div::-webkit-scrollbar
    width: 4px

div::-webkit-scrollbar-thumb
    background: var(--color-grey)

input
    font-family: var(--font-mono)

.mode-btn
    cursor: pointer
    background: inherit
    border: none
    outline: none
    padding: 5px
    font-size: 14px
    background: var(--color-grey)
    flexCenter()
    border-radius: var(--radius)
    width: calc(100% - 5px)
    height: 100%
.mode-btn:last-of-type
    margin-right: 0
.mode-btn.is-active
    color: var(--color-white)
    background: var(--color-blue)
    margin-right: 0
.mode-btn[disabled]
    cursor: default

.help-pin
    padding-left: .2em

.set-status-container
    stretch(row)
    justify-content: space-between
    list-style: none
    padding: 0
    cursor: pointer
    margin: 0
    li
        background: var(--color-grey)
        border-radius: var(--radius)
        flexCenter()
        height: 100px
        width: 100px
        max-width: calc(30% - 10px)
        font-weight: bold
        &.in
            background: var(--color-corpus-in)
            color: white
            cursor: default
        &.out
            background: var(--color-corpus-out)
            color: white
            cursor: default
        &.undecided
            background: var(--color-corpus-undecided)
            color: white
            cursor: default

.webentities-list-of-lists
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    .list-name-container
        stretch(row)
        align-items: center
        transition: all .5s ease 
        max-height: 30vh
        overflow: hidden
        .list-btn-container
            text-align: left
            padding-bottom: 0
        .list-btn
            margin: 5px
            margin-right: 2px
            display: inline-block
            cursor: pointer;
            font-family: var(--font-mont);
            font-size: 13px;
            font-weight: bold;
            padding: 10px
            text-transform: uppercase;
            background: var(--color-grey-dark);
            color: white
            border-radius: var(--radius);
            border: none
            transition: all .5s ease
            outline: none
        .list-btn.in
                background: var(--color-corpus-in)
        .list-btn.out
                background: var(--color-corpus-out)
        .list-btn.undecided
                background: var(--color-corpus-undecided)
        .count
            transition: all .5s ease
            text-align: right
            font-size: 10px
    .list-name-container.is-active
        opacity: 1
    .list-name-container:not(.is-active)
        opacity: .5
        .list-btn
            font-size: 10px
            padding: 10px
            margin: 5px
        .count
            font-size: 8px

.browse-nav
    stretch(row)
    align-items: flex-end
    padding-bottom: 10px
    min-height: 35px
    background: var(--color-grey-light)
    padding: 10px
    padding-left: 20px
    padding-right: 20px
    padding-top: 0
    .current-webentity-name
        flex: 1
        font-weight: bold
        text-align: center
        font-size: 16px
    button 
        background: inherit 
        border: none 
        font-size: 20px
        outline: none
        padding: 0
        cursor: pointer

.list-layout
    stretch(column)
    overflow: hidden
    max-height: 100%
    .list-of-lists-title
        margin: 0
        padding: 0
        padding-left: 10px
        margin-top: 10px
        font-weight: bold
        font-size: 14px
    .status-list-container
        background: var(--color-grey-light)
        padding-left: 10px
        padding-right: 10px
    .status-list
        border-radius: var(--radius)
        padding: 10px

        position: relative
        .status-list-toggle
            position: absolute
            right: 10px
            top: 15px
            font-size: 14px
            border: none
            color: white
            background: var(--color-grey-dark)
            border-radius: 50%
            width: 30px
            height: 30px
            flexCenter()
            cursor: pointer
    .status-list:not(.is-open)
        li:not(.is-active)
            max-height: 0
    .webentities-list-wrapper
        flex: 1
        stretch(column)
        overflow: hidden
        background: var(--color-grey-light)
        .webentities-list-header
            background: var(--color-grey-light)
            padding: 10px
            padding-left: 20px
            padding-right: 10px
            padding-top: 0
            stretch(row)
            align-items: center
            &.is-disabled
                opacity: .5
                pointer-events: none
            input 
                flex: 1
                margin: 5px
                padding: 10px
                background: var(--color-white)
                border-radius: var(--radius)
                border: 1px solid var(--color-grey)
                outline: none
                height: 20px
                font-family: var(--font-mono)
                margin-left: 0
            input:focus
                border: 1px solid var(--color-grey-dark)

            .filter-container
                position: relative
            .filter
                padding: 12px
                margin: 5px
                border-radius: var(--radius)
                background: var(--color-grey)
                cursor: pointer
                font-size: 12px
                font-family: var(--font-mono)
                border: none
            .filter-container.is-active .filter
                background: var(--color-black)
                color: white

            .filter-options
                list-style: none
                padding: 0
                position: absolute
                right: 5px
                top: 25px
                z-index: 10
                width: 200px
                li
                    background: white
                    padding: 10px
                    border: 1px solid var(--color-grey)
                    font-size: 12px
                    cursor: pointer
        .webentities-list-container
            background: var(--color-grey)
            margin: 10px
            margin-top: 0
            margin-left: 20px
            margin-right: 15px
            border-radius: var(--radius)
            padding: 10px
            overflow: hidden
            stretch(column)
            flex: 1
            max-height: calc(100% - 130px)

        .webentities-list
            overflow: auto
            overflow-x: hidden
            flex: 1
            padding: 0
            margin: 0
            position: relative
            .entity-card
                margin: 10px
            .placeholder-empty
                font-size: 12px
                color: var(--color-grey-dark)
                font-style: italic
                display: flex
                align-items: center
                justify-content: center
                abs()
        .webentities-list-footer
            padding: 10px
            padding-left: 20px
            padding-right: 15px
            padding-top: 0
            min-height: 50px
    .actions-container
        list-style: none
        padding: 0
        stretch(row)
        padding-left: 20px
        padding-right: 20px
        li
            flex: 1
        .btn
            width: 100%
            font-family: var(--font-pt)
            border: none 
            padding: 10px
            color: var(--color-white)
            height: 40px
            flexCenter()
        .confirm-btn
            background: var(--color-blue)
        .cancel-btn
            background: var(--color-red)
        li:first-of-type
            padding-right: 5px

.browse-layout
    stretch(column)
    overflow: hidden
    max-height: 100%
    .browse-edition-container
        flex: 1
        overflow: hidden
        overflow-y: auto
        padding-left: 10px
        padding-right: 10px

.browser-tabs
    display: flex
    position: relative
    flex-direction: row
    max-height: 30px
    padding-left: 10px
    margin-top: 5px
    .browser-tab-label
        flex: 1;
        font-family: var(--font-pt);
        font-size: 11px;
        margin-right: 0.5em;
        max-width: 170px;
        min-width: 40px;
        padding: 5px;
        position: relative;
        text-align: center;
        white-space: nowrap;

.browser-header
    stretch(row)
    justify-content: space-between
    align-items: center
    background: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    padding-left: 30px
    padding-top: 5px
    .header-group.header-group-main
        h1
            font-size: 14px
            margin: 0
            padding-top: 5px
            padding-bottom: 10px
            // font-family: var(--font-pt);
            display: flex
            flex-direction: row
            align-items: center
    .header-buttons
        list-style: none
        stretch(row)
        margin: 0
        .btn
            background: inherit 
            border-radius: var(--radius) var(--radius) 0 0
            color: var(--color-white)
            border: none
            padding: 10px 20px
            font-family: var(--font-mono)
        .btn.is-active
            background: var(--color-white)
            color: var(--color-black)
            font-family: var(--font-mono)

    .server-status
        display: inline-block
        background: green
        width: .8em
        height: .8em
        border-radius: 50%
        margin-left: 5px

.browser-layout
    fix()
    stretch(column)
    .browser-main-container
        flex: 1
        stretch(row)
        overflow: hidden
        .browser-column.browser-aside-column
            width: 416px
            max-height: 100%
            padding: 0
            box-sizing: border-box
            padding-right: 0
            background: var(--color-grey-light)
            .aside-header.switch-mode-container
                max-height: 35px
                stretch(row)
                justify-content: space-between
                list-style: none
                padding: 10px
                padding-left: 20px
                padding-right: 20px
                padding-bottom: 0
                margin: 0
                height: 35px
                background: var(--color-grey-light)
                li
                    flex: 1
            .aside-content
                flex: 1
                max-height: calc(100%)
                height: 100%
                overflow: hidden
                stretch(column)
                .edition-cartel:last-of-type
                    margin-bottom: 60px
                .list-layout
                    height: 100%
                    max-height: calc(100% - 30px)
                    .edition-cartel:first-of-type
                        margin-bottom: 0
                        margin-top: 20px
                        .edition-cartel-content
                            padding-top: 0
        .browser-column.browser-main-column
            flex: 1
            stretch(column)
            .webview
            .new-tab-content
                flex: 1
                border: none
                background: white
            .browser-bar
                padding: 10px
                background: var(--color-grey-light)

