
stretch(mode)
    display: flex
    flex-flow: mode nowrap
    justify-content: stretch
  
button
    outline: none

ul::-webkit-scrollbar
    width: 2px

ul::-webkit-scrollbar-thumb
    background: var(--color-blue)

ul::-webkit-scrollbar-track
    background: var(--color-grey-light)
.mode-btn
    cursor: pointer
    background: inherit
    border: none
    outline: none
    padding: 5px
    padding-left: 15px
    // padding-top: 0
    font-size: 14px
    background: var(--color-grey)
    display: flex
    align-items: center
    justify-content: center
    border-radius: 5px
    width: calc(100% - 5px)
    height: 100%
.mode-btn.is-active
    color: var(--color-white) // var(--color-blue)
    background: var(--color-blue)

.help-pin
    padding-left: .2em

.set-status-container
    stretch(row)
    list-style: none
    padding: 0
    justify-content: space-between
    cursor: pointer
    margin: 0
    li
        background: var(--color-grey-light)
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: center
        height: 100px
        width: 100px
        max-width: calc(30% - 10px)
        font-weight: bold

.webentities-list-of-lists
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    li
        stretch(row)
        align-items: center
        transition: all .5s ease 
        max-height: 30vh
        overflow: hidden
        .list-btn-container
            // flex: 1
            text-align: left
            padding-bottom: 0
        .list-btn
            margin: 5px
            display: inline-block
            cursor: pointer;
            font-family: var(--font-mont);
            font-size: 13px;
            font-weight: bold;
            padding: 10px
            text-transform: uppercase;
            background: var(--color-grey-dark);
            color: white
            border-radius: var(--radius);
            border: none
            transition: all .5s ease
            outline: none
        .count
            transition: all .5s ease
            text-align: right
    li.is-active
        .list-btn
            background: var(--color-blue)
            color: var(--color-white)
    li:not(.is-active)
        .list-btn
            font-size: 10px
            padding: 10px
            margin: 5px
        .count
            font-size: 10px

.browse-nav
    stretch(row)
    align-items: flex-end
    border-bottom: 1px solid var(--color-grey)
    padding-bottom: 10px
    min-height: 35px
    background: var(--color-grey-light)
    .current-webentity-name
        flex: 1
        font-weight: bold
        text-align: center
        font-size: 16px
    button 
        background: inherit 
        border: none 
        font-size: 20px
        outline: none

.list-layout
    stretch(column)
    overflow: hidden
    max-height: 100%
    .list-of-lists-title
        margin: 0
        padding: 0
        padding-left: 10px
        margin-top: 10px
        font-weight: bold
        font-size: 14px
    .status-list-container
        background: var(--color-grey-light)
    .status-list
        // border: 1px solid var(--color-grey-dark)
        background: var(--color-grey)
        margin: 10px
        // margin-top: 0
        border-radius: 5px
        padding: 10px
        // padding-top: 1
        position: relative
        .status-list-toggle
            position: absolute
            right: 10px
            top: 45px
            font-size: 14px
            border: none
            color: white
            background: var(--color-grey-dark)
            border-radius: 50%
            width: 30px
            height: 30px
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
    .status-list:not(.is-open)
        li:not(.is-active)
            max-height: 0
    .webentities-list-wrapper
        flex: 1
        stretch(column)
        overflow: hidden
        background: var(--color-grey-light)
        .webentities-list-header
            background: var(--color-grey-light)
            padding: 10px
            stretch(row)
            align-items: center
            // border-bottom: 1px solid var(--color-grey-dark)
            input 
                flex: 1
                margin: 5px
                padding: 10px
                background: var(--color-white)
                border-radius: 5px
                border: 1px solid var(--color-grey)
                outline: none
                height: 20px
                font-family: var(--font-mono)
            input:focus
                border: 1px solid var(--color-grey-dark)

            .filter-container
                position: relative
            .filter
                padding: 12px
                margin: 5px
                // border: 1px solid var(--color-grey-dark)
                border-radius: 5px
                background: var(--color-grey)
                cursor: pointer
                font-size: 12px
                font-family: var(--font-mono)
                border: none
            .filter-container.is-active .filter
                background: var(--color-black)
                color: white
            // .filter-options-bg
            //     background: rgba(255,255,255,0.5)
            //     position: fixed
            //     left: 0
            //     top: 0
            //     width: 100%
            //     height: 100%
            //     cursor: pointer
            .filter-options
                list-style: none
                padding: 0
                position: absolute
                right: 5px
                top: 25px
                z-index: 10
                width: 200px
                li
                    background: white
                    padding: 10px
                    border: 1px solid var(--color-grey)
                    font-size: 12px
                    cursor: pointer
        .webentities-list
            flex: 1
            overflow: auto
            padding: 0
            .entity-card
                margin: 10px
        .webentities-list-footer
            padding: 10px
            padding-top: 0

.browse-layout
    stretch(column)
    overflow: hidden
    max-height: 100%
    .browse-edition-container
        flex: 1
        overflow: hidden
        overflow-y: auto

.browser-tabs
    display: flex
    position: relative
    flex-direction: row!important
    max-height: 30px
    padding-left: 10px
    .browser-tab-label
        flex: 1;
        font-family: var(--font-pt);
        font-size: 11px;
        margin-right: 0.5em;
        max-width: 170px;
        min-width: 40px;
        padding: 5px;
        position: relative;
        text-align: center;
        white-space: nowrap;

.browser-header
    stretch(row)
    justify-content: space-between
    align-items: center
    background: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-pt);
    font-weight: bold;
    padding: 5px
    padding-left: 30px
    height: 40px
    .header-group.header-group-main
        h1
            font-size: 16px
            margin: 0
    .header-buttons
        list-style: none
        stretch(row)
        .btn
            background: inherit 
            border-radius: 5px
            color: var(--color-white)
            border: none
        .btn.is-active
            background: var(--color-white)
            color: var(--color-black)
    .server-status
        display: inline-block
        background: green
        width: .8em
        height: .8em
        border-radius: 50%

.browser-layout
    position: fixed
    left: 0
    top: 0
    width 100%
    height 100%
    stretch(column)
    // .browser-header
    .browser-main-container
        flex: 1
        stretch(row)
        overflow: hidden
        .browser-column.browser-aside-column
            width: 416px
            max-height: 100%
            padding: 5px
            box-sizing: border-box
            padding-right: 0
            border-right: 1px solid var(--color-grey)
            .aside-header.switch-mode-container
                max-height: 35px
                stretch(row)
                justify-content: space-between
                list-style: none
                padding: 0
                padding-left: 10px
                padding-right: 10px
                margin: 0
                height: 35px
                background: var(--color-grey-light)
                li
                    flex: 1
            .aside-content
                flex: 1
                max-height: calc(100% - 30px)
                overflow: hidden
                stretch(column)
                .edition-cartel:first-of-type
                    margin-top: 20px
        .browser-column.browser-main-column
            flex: 1
            stretch(column)
            .webview
                flex: 1
                border: none
            .browser-bar
                padding: 10px
                background: var(--color-grey-light)

