.notification-container
  display block
  position absolute
  top 4px
  left 0
  right 0
  z-index 999
  text-align center

  .notification
    background var(--color-blue)
    border-radius var(--radius)
    display inline-block
    margin 0 auto
    padding 4px 8px
    max-width: 50%
    line-height 24px

    &.notification-error
      background var(--color-red)

    &.notification-warning
      background var(--color-corpus-undecided)

    font-family var(--font-pt)
    font-size 14px
    color #faf9f8

    .error-dialog-close
      cursor pointer
      color #faf9f8
      padding-left 5px
      font-size 10px

  &.hidden
    top -2000px

  &.visible
    top 0
