.corpus-list-filter {
  position: relative;
  text-align: center;

  input {
    // leave room for icon
    padding-right: 3em;
  }

  span {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 14px;
  }
}

.corpus-list-slider {
  height: 200px;
  margin-bottom: 10px;
  overflow-y: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-black);
  }
  &::-webkit-scrollbar-track {
    background: var(--color-grey-light);
  }
}

.corpus-list-item {
  background: var(--color-white);
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  font-family: var(--font-pt);
  margin: 6px 0;

  &:hover {
    background: var(--color-grey-light);
  }

  div {
    cursor: pointer;
  }

  span {
    cursor: pointer;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.corpus-list-item-name {
  cursor: pointer;
  font-weight: bold;

  .icon {
    margin: 0 0.5em;
  }
}

.corpus-list-item-webentities {
  font-weight: bold;
}

.corpus-list-item-dates {
  font-size: 0.8em;
}
