.corpus-list-filter-holder {
  text-align: center;
}

.corpus-list-filter {
  /* background: var(--color-white); */
  border-radius: 6px;
  border: none;
  padding: 1em;
  width: 90%;
}

.corpus-list-slider {
  height: 200px;
  overflow-y: scroll;
}

.corpus-list-item {
  background: var(--color-white);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: var(--font-pt);
  margin: 6px;
}
.corpus-list-item:hover {
  background: var(--color-grey);
}

.corpus-list-item div {
  cursor: pointer;
}

.corpus-list-item span {
  cursor: pointer;
}

.corpus-list-item a {
  display: block;
  text-decoration: none;
}
.corpus-list-item-name {
  cursor: pointer;
  font-weight: bold;
}

.corpus-list-item-name .icon {
  margin: 0 0.5em;
}

.corpus-list-item-webentities {
  font-weight: bold;
}

.corpus-list-item-dates {
  font-size: 0.8em;
}
