.corpus-list-filter-holder {
  text-align: center;
}

.corpus-list-filter {
  /* background: var(--color-white); */
  border-radius: 6px;
  border: none;
  padding: 1em;
  width: 90%;
}

.corpus-list-slider {
  height: 200px;
  overflow-y: auto;
}

.corpus-list-item {
  background: var(--color-white);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: var(--font-pt);
  margin: 6px;

  &:hover {
    background: var(--color-grey);
  }

  div {
    cursor: pointer;
  }

  span {
    cursor: pointer;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.corpus-list-item-name {
  cursor: pointer;
  font-weight: bold;

  .icon {
    margin: 0 0.5em;
  }
}

.corpus-list-item-webentities {
  font-weight: bold;
}

.corpus-list-item-dates {
  font-size: 0.8em;
}
