

.browser-bar
    display: flex
    flex-flow: row nowrap
    justify-content: stretch
    .browser-tab-toolbar-url
        background: white
        flex: 1
        position: relative
        border-radius: 5px
        form
            height: 100%
            display: flex
            align-items: center
            // justify-content: center
        .browser-tab-url
            background: white
            display: flex
            align-items: center
            padding-left: 10px
            // justify-content: center
    .page-actions
        position : absolute
        right: 5px
        top: 0
        height: 100%
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        span:first-of-type
            margin-right: 5px
