@import '../../css/helpers.styl'

.browser-bar
    padding: 10px
    background: var(--color-grey-light)
    stretch(row)
    min-height: 30px
    max-width: 100%
    .browser-tab-toolbar-url
        background: white
        flex: 1
        position: relative
        border-radius: var(--radius)
        overflow: hidden
        form
            height: 100%
            display: flex
            align-items: center
            overflow: hidden
            position: absolute
            width: 100%
            border-radius: var(--radius)
            input 
                input()
                border: none
                width: 100%
                outline: none
                // border-radius: 0
        &:not(.edited)
            form
                width: calc(100% - 10px)
    
    .browser-tab-url
        display: flex
        flex-flow: row nowrap
        align-items: center
        padding-left: 10px
        padding-top: 2px
        font-size: 12px;
        min-height: 30px;
        cursor: text;

        text-align: left;

        position: absolute
        left: 0
        top: 0
        width: 10000%

        em
            cursor: inherit;
        

        /* :first-child = scheme */
        em:first-child
            font-style: normal;
        

        em:not(:first-child)
            background: var(--color-grey);
            padding: 2px 0px;
            font-weight: bold;
            font-style: normal;
        

        em:nth-child(2) 
            border-radius: 3px 0 0 3px;
        
        em:last-child 
            border-radius: 0 3px 3px 0;
        

        &.loading
            background-image: url(../../images/loading.svg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 30px;
        &.empty
            span 
                position: relative
                top: -2px
    .navigate-btn:disabled,
    .navigate-btn[disabled]
        color: var(--color-black)
        opacity: 0.5
        
    .toolbar-placeholder
        font-size: 12px
        color: var(--color-grey-dark)
        padding: 5px
    

    .page-actions
        position : absolute
        right: 5px
        top: 0
        height: 100%
        flexCenter()
        button
            border: none
            border-radius: 50%
            background: white
            width: 30px
            height: 30px
            flexCenter()
            cursor: pointer
        button:first-of-type
            margin-right: 5px
        button:last-of-type
            margin-right: 0
        
        .homepage-btn
            font-size: 12px
            &.is-active
                background: var(--color-blue)
                color: white
                cursor: default
