@import '../../css/helpers.styl'

.browser-bar
    padding: 10px
    background: var(--color-grey-light)
    stretch(row)
    min-height: 30px
    .browser-tab-toolbar-url
        background: white
        flex: 1
        position: relative
        border-radius: var(--radius)
        form
            height: 100%
            display: flex
            align-items: center
            input 
                input()
                width: 100%
                border: none
                padding-left: 9px
    
    .browser-tab-url {
        display: flex
        align-items: center
        padding-left: 10px
        font-size: 12px;
        min-height: 30px;
        width: 100%;
        cursor: text;

        text-align: left;

        em {
            cursor: inherit;
        }

        /* :first-child = scheme */
        em:first-child {
            font-style: normal;
        }

        em:not(:first-child) {
            background: var(--color-grey);
            padding: 2px 0px;
            font-weight: bold;
            font-style: normal;
        }

        em:nth-child(2) {
            border-radius: 3px 0 0 3px;
        }
        em:last-child {
            border-radius: 0 3px 3px 0;
        }

        &.loading {
            background-image: url(../../images/loading.svg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: 30px;
        }
    }

    .navigate-btn:disabled,
    .navigate-btn[disabled]
        color: var(--color-black)
        opacity: 0.5
        
    .toolbar-placeholder
        font-size: 12px
        color: var(--color-grey-dark)
        padding: 5px
    .browser-tab-toolbar-url.edited
        border: 1px solid  #cccecd

    .page-actions
        position : absolute
        right: 5px
        top: 0
        height: 100%
        flexCenter()
        button
            border: none
            border-radius: 50%
            background: white
            width: 30px
            height: 30px
            flexCenter()
            cursor: pointer
        button:first-of-type
            margin-right: 5px
        button:last-of-type
            margin-right: 0
        
        .homepage-btn
            font-size: 12px
            &.is-active
                background: var(--color-blue)
                color: white
